.footer-container {
    font-family: 'Fjalla One', sans-serif;
    --bs-bg-opacity: 1;
    background-color: #222121;
    padding-bottom: 5rem;
    padding-top: 1rem;
    margin-top: 1rem;
}

.footer {
    width: 100%;
    height: 20vh;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
}

.app-logo img {
    width: 185px;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h3 {
    margin-bottom: 1rem;
    color: #F73D93;
}

.footer-email-form h3 {
    color: #F73D93;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: #F73D93;
    transition: 0.3s ease-out;
}

.footer-email-form h3 {
    margin-bottom: 1rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 70px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: yellow;
    font-size: 1rem;
    margin-top: 10px;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #F73D93;
    transition: all 0.2s ease-out;
}

.footer-logo img {
    width: 350px;
}

@media (max-width: 991.98px) {
    .footer {
        padding-top: 70px;
        width: 100%;
        height: 40vh;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #686868;
    }
    .footer-heading {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    .footer-heading a,
    .footer-heading p,
    .footer-heading h3,
    .footer-heading h1 {
        color: #fff;
        font-size: 10px;
        text-decoration: none;
        margin-bottom: 0.3rem;
    }
    .footer-heading h3 {
        color: #F73D93;
        font-size: 1rem;
    }
    .app-logo img {
        width: 100px;
    }
    .footer-container {
        font-family: 'Fjalla One', sans-serif;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
        margin-top: 1rem;
    }
    #footer-email {
        width: 130px;
        height: 25px;
        font-size: .3rem;
        border-radius: 5px;
        outline: none;
        border: none;
        padding-left: 1 rem;
    }
    #footer-email-btn {
        width: 70px;
        height: 25px;
        border-radius: 4px;
        outline: none;
        border: none;
        background-color: yellow;
        font-size: .3rem;
        margin-top: 10px;
    }
}